node_modules
build/*
public/*
src/react-app-env.d.ts
src/reportWebVitals.ts
src/service-worker.ts
src/serviceWorkerRegistration.ts
src/setupTests.ts
src/graphql/index.ts
src/_mock/
jest.config.jest
babel.config.js

